{% extends "polls/layout.html" %}

{% block title %}
    {{ poll.question }}
{% endblock %}

{% block stylesheets %}
    <script src="http://127.0.0.1:8000/json" type="text/javascript" charset="utf-8"></script>
    {{ block.super }}
{% endblock %}

{% block content %}
	{% if error_message %}
	    <p>
	        <strong>{{ error_message }}</strong>
	    </p>
	{% endif %}
    
    <h1 id="question">{{ poll.question }}</h1>
	<form action="/polls/{{ poll.id }}/vote/" method="post">
    	{% csrf_token %}
	    <ul id="answers">
	    	{% for choice in poll.choice_set.all %}
	    	<li>
	    	    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	    	    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label>
	    	</li>
	    	{% endfor %}
	    </ul>
	    <input type="submit" value="Vote" id="submit" class="shadow" />
	</form>
{% endblock %}

