<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>detail</title>
		<script type="text/javascript" src="http://wizardryapp.com/wizardryapp_com/wizardry.js"></script>
	</head>
	<body style="padding:20px;">
		<h1 id="question">{{ poll.question }}</h1>

		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<form action="/polls/{{ poll.id }}/vote/" method="post">
		<div id="answers">
			{% csrf_token %}
			{% for choice in poll.choice_set.all %}
			    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
			    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
			{% endfor %}</div>
		<input type="submit" value="Vote" id="submit" />
		</form>
	</body>
</html>


