<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>detail</title>
		<script type="text/javascript" src="http://wizardryapp.com/server/app-39847394935.js"></script>
	</head>
	<body>
		<h1 id="question">{{ poll.question }}</h1>

		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<form action="/polls/{{ poll.id }}/vote/" method="post" id="answers">
		{% csrf_token %}
		{% for choice in poll.choice_set.all %}
		    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
		{% endfor %}
		<input type="submit" value="Vote" id="submit" />
		</form>
	</body>
</html>


