<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>SHDH Polls</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
<body>
    <div id="container">
        <h1>Polls</h1>
        {% if latest_poll_list %}
            <ul>
            {% for poll in latest_poll_list %}
                <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
</body>
</html>