#box1, #box2, #box3, #box0 {
	background: #DDD;
	padding: 30px;
	margin: 30px;
	float: left;
}

#box1-trigger, #box2-trigger, #box3-trigger, #box0-trigger {
	background: red;
	padding: 10px;
	margin: 10px;
}

.x-spotlight {
    background-color: #888;
    
    width: 0;
    height: 0;
    zoom: 1;
    z-index: 8999;
    position: absolute;
    top: 0;
    left: 0;

    -moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

